.container-fluid{
    padding: 0;
}
.header{
    background-color: #02d262;
    color: white;
}
.header >p >a{
    color: white ;
}
.header >a{
    color: white;
    background-color: #089549;  
}
.px-6{
    padding: 0 60px ;
}
.navbar-nav > li{
    padding: 0 5px;
}

.slick-prev, .slick-next {
    width: 50px!important; 
    height: 50px!important; 
    line-height: 50px; 
    font-size: 30px; 
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    padding: 10px!important;
}

.slick-prev:before, .slick-next:before {
    color: white;
}

.slick-prev {
    left: 20px!important;
}

.slick-next {
    right: 20px!important;
}
.slick-dots{
    position: relative;
    bottom: 50px!important;
}
.slick-dots > .slick-active > [type=button]{
background-color: white;

}

.slick-dots > li >[type=button]{
color: #ffff;
font-size: 0px;
border: 1px solid white;
border-radius: 50%;
width: 1px;
height: 1px;
display: flex;
justify-self: center;
padding: 6px;

}